*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, select {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

input {
  border: none;
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #CECECE;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 2;
  text-align: center;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.black {
  color: #000;
}

.btn-primary {
  padding: 7px 20px;
  border-radius: 3px;
  margin: 0 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 120px;
  height: 120px;
  background: red;
  border-radius: 60px;
  border: 5px solid #FFF;
}

.image2 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid #FFF;
}

.about-me p {
  margin-top: -15px;
  text-align: left;
}

.about-me h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.icon-social-media {
  width: 35px;
  margin: 5px 10px 10px 10px;
}

.box-titles {
  background: #E5E5E5;
  height: 215px;
  width: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
}

.card-title {
  background: #CECECE;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.card-title h3 {
  font-size: 17px;
  font-weight: bold;
}

.card-title p {
  font-size: 13px;
  margin-bottom: 0px;
}

.name-role {
  font-size: 15px;
}

.card-champion-area {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  padding: 5px;
}

.card-champion-item {
  height: 100px;
  width: 100px;
  background: green;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
}

.social-media-link {
  margin-top: 20px;
}


/* TEAMS - INVITE */
.list-invites {
  background: #AA0000;
  padding: 10px;
  border-radius: 10px;
  height: 400px;
}

.list {
  padding: 10px;
  background: #E5E5E5;
  overflow-y: scroll;
  border-radius: 10px;
  height: 380px;
}

.invite {
  background: #CECECE;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}


/*  VIEW TEAM */
.area-logo {
  /* border: 1px solid red; */
}

.button-add-delete {
  /* border: 1px solid red; */
  float: right;
}

.logo-team {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background: red;
  border: 5px solid #E5E5E5;
}

.list-buttons {
  display: flex;
  padding: 20px;
}

.button-add-delete {
  background: #AA0000;
  width: 40px;
  height: 40px;
  font-weight: bold;
  color: #FFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  font-size: 20px;
}

.button-add-delete:hover {
  background: #FF0000;
  transition: .5s ease;
}

.list-members {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.member-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: red;
  margin: 0 10px;
  border: 2px solid #E5E5E5;
}

.list-titles, .list-competitions {
  padding: 10px;
  background: #E5E5E5;
  height: 86%;
  overflow-y: scroll;
  border-radius: 10px;
}

.competition, .title {
  padding: 7px;
  background: #CECECE;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.input_invite {
  width: 100%;
  border: 2px solid #CECECE;
  border-radius: 3px;
  padding: 7px;
  margin-top: 20px;
}

#btn_invite {
  width: 120px;
  padding: 7px;
  background: #AA0000;
  border-radius: 3px;
  margin-top: 20px;
  color: #FFF;
}


/* COMPETITIONS - MENU */
.items-competitions {
  padding: 10px 0 10px 25px;
  background: #E5E5E5;
  height: 500px;
  border-radius: 10px;
  overflow-y: scroll;
}

.item-competition {
  padding: 10px;
  background: #CECECE;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.item-competition:hover {
  background: #C0C0C0;
  transition: .4s ease;
}

a:hover {
  text-decoration: none;
}

.items-competitions-name {
  color: #000;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-competitions-image {
  width: 100px;
}

.items-competitions-level, .items-competitions-awards {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

/*  YOUR COMPETITION */
.box-your-competition {
  background: #CECECE;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
}

.box-your-competition-title {
  font-weight: bold;
}

.list-matchs {
  background: #E5E5E5;
  padding: 10px;
  height: 343px;
  overflow-y: scroll;
  border-radius: 10px;
}

.match {
  background: #CECECE;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}


/* COMPETITION VIEW */
.card-team {
  background: red;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


/* BUTTONS */
.default-button {
  width: 200px;
  padding: 7px;
  background: #444;
  text-align: center;
  border-radius: 3px;
  margin: 7px;
  color: #FFF;
}

.default-button:hover {
  text-decoration: none;
  color: #FFF;
  background: #555;
  transition: .4s ease;
}

.default-primary {
  width: 200px;
  padding: 7px;
  text-align: center;
  border-radius: 3px;
  margin: 7px;
}

.button-yes-no {
  width: 100px;
  padding: 7px;
  background: #444;
  text-align: center;
  border-radius: 3px;
  margin: 7px;
  color: #FFF;
}

label {
  color: #FFF;
  margin-top: 20px;
  font-size: 13px;
}

.btn_save {
  width: 150px;
  padding: 7px;
  border-radius: 3px;
  color: #FFF;
  font-weight: bold;
  margin-top: 30px;
}

.p-select-image {
  color: #FFF;
  font-size: 13px;
}

select {
  padding: 10px;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}


/* SIGNUP */
.title-signup {
  color: #FFF;
  margin-top: 30px;
}

.tip-signup {
  color: #FFF;
  margin-top: 20px;
  margin-bottom: -20px;
}

.text-checkbox {
  color: #FFF;
  font-size: 13px;
}

.text-checkbox  input[type="checkbox"] {
  margin-right: 10px;
}
